* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  font-family: 'MedievalSharp', cursive;
;
}

.left, .right {
  width: 50%;
  height: 100vh;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111;
}

.left img {
  max-width: 90%;
  max-height: 90%;
}

.right {
  padding: 2rem;
  background-color: #f5f5f5;
  overflow-y: auto;
  
}
.highlight {
  color: #3498db; /* Nastav modrou barvu */
}

p {
  margin-bottom: 1.5rem; /* Nastaví mezeru pod každý odstavec */
}
